<!-- Project: TwittStorm, Geosoftware 2, WiSe 2019/2020 -->
<!-- Authors: Jonathan Bahlmann, Katharina Poppinga, Benjamin Rieke, Paula Scharf -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/project.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/mapbox/mapbox-gl.css"/>
  <link rel="stylesheet" href="/mapbox-draw/mapbox-gl-draw.css"/>
  <link rel="stylesheet" href="/leaflet/leaflet.css"/>
</head>

<body onload = "showAnimationMap('mapbox://styles/mapbox/navigation-guidance-day-v4')">

  <!-- navbar -->
  <%- include('partial/navbar', {active: "animation"}); %>

  <main>

    <!-- status display -->
    <div class="loading" id="loading" style="display:none">
      <div class="information" id="information">
        <p></p>
      </div>
    </div>



    <!-- map -->
    <div class="container-fluid">
      <div id="map">
        <!-- DWD selection menu -->
        <div id="menu" style="display:none"></div>



        <!-- Product selection menu -->
        <div id="productMenu" style="display:none">
          <a href="#" id="raster" class="selector" title="Request radar data">Radar</a>
          <a href="#" id="severeWeatherAnimation" class="active" title="Request severe weather data">Severe Weather</a>
        </div>

        <!-- Raster selection menu -->
        <!-- Add functions for raster display here -->
        <div id="rasterMenu" class="inputGroup" style="display:none">
          <div>
            <input id="radio1" name="radio" type="radio"> 5 Minutes</input>
          </div>
          <div>
            <input id="radio2" name="radio" type="radio"> 60 Minutes</input>
          </div>
          <div>
            <input id="radio3" name="radio" type="radio" onclick="loadRaster('sf');">24 Hours</input>
          </div>
        </div>

        <!-- button to open up the menu. image taken from https://freeicons.io/user-interface-and-electronics/layer-up-down-screen-multiple-interface-ui-d-cd-icon-892 -->
        <nav id="menuButton" class="button" onclick="openMenu(this, productMenu, 'animation');" title="Change Layers">
          <div id="buttonIcon">
            <img src="/css/Layer-Icon.png"/>
          </div>
        </nav>

        <!-- button to show and hide the boundaries of germany. image taken from https://upload.wikimedia.org/wikipedia/commons/e/e3/Karte_Deutschland.svg -->
        <!-- Alternative: Change img src to /css/Germany-Outline.svg. image taken from: https://upload.wikimedia.org/wikipedia/commons/f/f2/Germany-Outline.svg-->
        <nav id="germanyButton" class="container" onclick="removeAddGermany();" title="Toggle Germany Boundaries" style="display:none">
          <div id="germanyIcon">
            <img src="/css/Karte_Deutschland.svg" width="20" height="20"/>
          </div>
        </nav>


        <!-- map-legend -->
        <div class="map-overlay top">
          <div class="map-overlay-inner">
            <div id="legend" class="legend">
            </div>
            <div id="metadata">
              <br>
              <p id="dataSource"></p>
              <p id="dataTimestamp"></p>
              <p id="timestampLastRequest"></p>
              <p id="refreshRate"></p>
              <p id="posAccuracy"></p>
            </div>
          </div>
        </div>

        <!-- Style Selector -->
        <div class="switch-field" id='styleMenu'>
          <input id='navigation-guidance-day-v4' type='radio' name='switch-two' value='streets' onchange="updateURL('style', 'streets')" checked='checked'>
          <label for='navigation-guidance-day-v4'>Streets</label>
          <br>
          <input id='satellite-v9' type='radio' name='switch-two' value='satellite' onchange="updateURL('style', 'satellite')">
          <label for='satellite-v9'>Satellite</label>
        </div>

        <!-- Pan Buttons -->
        <!-- image taken from https://freeicons.io/user-interface-and-electronics/arrow-backword-back-ui-left-interface-e-da-c-a-icon-811 -->
        <nav id="panButtonL" class="button" onclick="panMapWithButton('left');" title="Pan map to the left">
          <div id="panButton_L_img" class="panButtonImg">
            <img src="/css/pan.png"/>
          </div>
        </nav>
        <nav id="panButtonR" class="button" onclick="panMapWithButton('right');" title="Pan map to the right">
          <div id="panButton_R_img" class="panButtonImg">
            <img src="/css/pan.png"/>
          </div>
        </nav>
        <nav id="panButtonU" class="button" onclick="panMapWithButton('up');" title="Pan map up">
          <div id="panButton_U_img" class="panButtonImg">
            <img src="/css/pan.png"/>
          </div>
        </nav>
        <nav id="panButtonD" class="button" onclick="panMapWithButton('down');" title="Pan map down">
          <div id="panButton_D_img" class="panButtonImg">
            <img src="/css/pan.png"/>
          </div>
        </nav>
        <div class="animation-overlay top">
          <div class="animation-overlay-inner">
            <h2>Last 10 Timesteps</h2>
            <label id="timestamp">Click play to start the animation</label>
            <input id="slider" type="range" min="0" max="8" step="0" value="0" />


            <!-- Buttons to start and stop the animation -->

            <!-- play icon taken from https://www.iconfinder.com/icons/211876/play_icon -->
            <!-- pause icon taken from https://www.iconfinder.com/icons/211871/pause_icon -->


            <nav id="playButton" class="button" title="Play animation">
              <img src="/css/iconfinder_icon-play.svg" id ="pauseplay" width="20" height="20"/>
            </nav>

            <!-- dowmload icon taken from https://www.iconfinder.com/icons/326639/download_file_icon -->

            <nav id="downloadButton" class="button" title="Please wait for one animation cycle">
              <span class="popuptext" id="downloadPopup">You have to wait for one animation cycle!</span>
              <img src="/css/iconfinder_icon-download.svg" width="20" height="20"/>
            </nav>


          </div>
      </div>




    </main>

    <!-- footer -->
    <%- include('partial/footer'); %>

  </body>
  </html>
  <script src="/jquery/jquery.js"></script>
  <script src="/popper/umd/popper.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/mapbox/mapbox-gl.js"></script>
  <script src="/mapbox-draw/mapbox-gl-draw.js"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script src="/turf/turf/turf.min.js"></script>
  <script src="/gifshot/gifshot.js"></script>
  <script src="/downloadjs/download.js"></script>
  <script src="/html2canvas/html2canvas.js"></script>




  <script>
    var paramArray = <%- JSON.stringify(paramArray) %>;
  </script>

  <script src="/javascripts/urlNaming.js"></script>
  <script src="/javascripts/mapInteraction.js"></script>
  <script src="/javascripts/mapboxDraw.js"></script>
  <script src="/javascripts/mapbox.js"></script>
  <script src="/javascripts/germanyBoundary.js"></script>
  <script src="/javascripts/animationScripts.js"></script>
