<!-- Project: TwittStorm, Geosoftware 2, WiSe 2019/2020 -->
<!-- Authors: Jonathan Bahlmann, Katharina Poppinga, Benjamin Rieke, Paula Scharf -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/project.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>

  <!-- navbar -->
  <%- include('partial/navbar', {active: "home"}); %>

  <div class="container-fluid">
    <h4>TwittStorm</h4>
    by Jonathan Bahlmann // 453 524 <a href="jbahlmann@uni-muenster.de">jbahlmann@uni-muenster.de</a>
    <br>
    Katharina Poppinga // 450 146 <a href="k_popp02@uni-muenster.de">k_popp02@uni-muenster.de</a>
    <br>
    Paula Scharf // 450 334 <a href="p_scha53@uni-muenster.de">p_scha53@uni-muenster.de</a>
    <br>
    and Benjamin Rieke // 408 743 <a href="b_riek01@uni-muenster.de">b_riek01@uni-muenster.de</a>
  </div>

  <!-- footer -->
  <!-- footer hier unnötig, da der nur wieder zur gleichen Seite leitet? -->
  <%- include('partial/footer'); %>

</body>
</html>

<script src="/jquery/jquery.min.js"></script>
<script src="/popper/umd/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
