<!-- Project: TwittStorm, Geosoftware 2, WiSe 2019/2020 -->
<!-- Authors: Jonathan Bahlmann, Katharina Poppinga, Benjamin Rieke, Paula Scharf -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/project.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>

  <!-- navbar -->
  <%- include('partial/navbar', {active: "help"}); %>

  <main>
    <div class="row">
      <div class="container-fluid text-center">
        <h1>User Documentation</h1>
      </div>
    </div>
    <div class="row" style="padding:10px">
      <div class="col-lg-12 text-center">
        <h2>about the <b>'Main'</b> page</h2>
        <div>WIP<br>
          <div>
            <p>AOI-Lines must not intersect</p>
            <p>To create an AOI, click the polygon tool (p) button on the right side of the map. You can now draw an AOI by clicking its coordinates in the map. Its outline will be dashed orange in this phase. Double click the last point. To finish, it is important to do a last click in the map but outside of the polygon. Its outline will turn to blue.
              <br>To pan a drawn AOI, just do a single click on it and move it with your mouse.
              <br>To update the coordinates of a drawn AOI, do a double click on it, so that its lines will get a new point in its middle. You can pan each of the points to where you want.
              <br>To delete a drawn AOI, select the drawn AOI with a single click so that its outline turns to dashed orange. Then click the delete button on the right side of the map.</p>
            <p>Because the coordinates of your AOI are written into the URL, your AOI must not have such a huge number of coordinates that these will exceed the permissible length of the URL
              <br>(but this limit will not be reached in normal use cases)</p>
            <p>Checkbox menu for the severe weather warnings only shows the currently existing warning types</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <h2>about the <b>'Animation'</b> page</h2>
        <div>WIP</div>
        <ul>
          <li>Before viewing the animation, you have to observe the weather and tweet events in the main map</li>
          <li>Checkbox menu for the severe weather warnings only shows the currently existing warning types</li>
        </ul>
      </div>
      <div class="col-lg-12 text-center">
        <h2>about the <b>'Configuration'</b> page</h2>
        <div>WIP</div>
      </div>
      <div class="col-lg-12 text-center">
        <h2>about the <b>'Help'</b> page</h2>
        <div>Read carefully from top to bottom or explore at own risk.</div>
      </div>
    </div>
    <p></p>
  </main>

  <!-- footer -->
  <%- include('partial/footer'); %>

</body>
</html>

<script src="/jquery/jquery.min.js"></script>
<script src="/popper/umd/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
