<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>TwittStorm</title>

    <link rel="stylesheet" type="text/css" href="css/project.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

</head>

<body>

<!-- Navbar -->
<%- include('partial/navbar', {active: "help"}); %>

<main>
    <h1 align="center">User Documentation</h1>
    <p align="center">Press a button and have fun</p>
</main>

<!-- footer -->
<%- include('partial/footer'); %>

</body>
</html>
