<!-- Project: TwittStorm, Geosoftware 2, WiSe 2019/2020 -->
<!-- Authors: Jonathan Bahlmann, Katharina Poppinga, Benjamin Rieke, Paula Scharf -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/project.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src="/jquery/jquery.min.js"></script>

</head>

<body onload = "helpPageHandler()">

  <!-- navbar -->
  <%- include('partial/navbar', {active: "help"}); %>

  <div class="container">
    <div id="magicCarousel" class="carousel slide my-5" data-ride="carousel" data-interval="false" id="carousel">

      <!--    Carousel Indicators    -->
      <ol class="carousel-indicators">
        <li data-target="#magicCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#magicCarousel" data-slide-to="1"></li>
        <li data-target="#magicCarousel" data-slide-to="2"></li>
        <li data-target="#magicCarousel" data-slide-to="3"></li>
      </ol>

      <!--    Carousel Slider    -->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img src="/images/startup_v1.jpg" class="d-block w-100">
          <div class="carousel-caption">
            <h3>On Start Up</h3>
            <p '>Upon starting Twittstorm you will arive at this page. Here you have several possibilities to interact with the map and to retrieve the latest weather and twitter data</p>
          </div>
        </div>

        <div class="carousel-item" id='1'>
          <img src="/images/delete_aoi_v1.jpg" class="d-block w-100">
          <div class="carousel-caption">
            <h3>Creating and deleting AOI</h3>
          </div>
        </div>

        <div class="carousel-item" id='2'>
          <img src="/images/animation_radar_v1.jpg" class="d-block w-100">
          <div class="carousel-caption">
            <h3>Animation of previous timesteps</h3>
          </div>
        </div>

        <div class="carousel-item" id='3'>
          <img src="/images/configuration.jpg" class="d-block w-100">
          <div class="carousel-caption">
            <h3>Change your settings</h3>
          </div>

        </div>
      </div>


<!--     Carousel Controls     -->
        <a href="#magicCarousel" class="carousel-control-prev" id="prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a href="#magicCarousel" class="carousel-control-next" id="next" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="sr-only">Next</span>
        </a>


    </div>
<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h3 class="font-weight-light">Explanations:</h3>
        <p class="lead" id='helpText'>Upon starting Twittstorm you will arive at this page. Here you have several possibilities to interact with the map and to retrieve the latest weather and twitter data.</p>


    </div>
  </section>

<!-- Explanation texts -->

<div class='texts' id ="0 text"  >
    <ul>
    <li>Menu: Through this menu you can select between the map view (the page seen above) or the animation of previous weather events (see third slide). You can also access the demo data right here through the dropdowns.</li>
    <li>Geocoder: The geocoder gives you the possibility to search for places that you would like to pinpoint on the map.</li>
    <li>Basemap switch: With a simple click you can chosse between two basemaps. A satellite image or a street view.</li>
    <li>Zoom/Northing: This panel gives you the ability to zoom in and out by clicking the + or - symbol. The compass symbol lets you tilt the map in different angles and also to reset it to north.</li>
    <li>Aoi-tools: On this position you will find the tools for drawing and deleting your own area-of-interest. For further informations check out the next image to the right.</li>
    <li>Layer selector: The layer selector will help you to access the type of data that you want. You can select between polygonal weatherwarnings and various rain radar products, both provided through the DWD.</li>
    <li>Pan-buttons: Simply press the direction that you want your map to move to.</li>
    <li>Filter tweets: This field will act as a filter for the display of tweets by words. Multiple search words must be inidicated with a single linebreak.</li>
    <li>Legend: The legend will provide you with several informations for your requested data, such as orign, age, accuracy and most importantly how to interpret different colors in the map.</li>
  </ul>
  </div>

  <div  class='texts' id ="1 text" >
    <ul>
      <li>The drawn AOI has to be big enough to surround the weather-polygons, which should be used for Tweet search, completely.</li>
      <li>AOI-Lines must not intersect!</li>
      <li>To create an AOI, click the polygon tool (p) button on the right side of the map. You can now draw an AOI by clicking its coordinates in the map. Its outline will be dashed orange in this phase. Double click the last point. To finish, it is important to do a last click in the map but outside of the polygon. Its outline will turn to blue.</li>
      <li>To pan a drawn AOI, just do a single click on it and move it with your mouse.</li>
      <li>To update the coordinates of a drawn AOI, do a double click on it, so that its lines will get a new point in its middle. You can pan each of the points to where you want.</li>
      <li>To delete a drawn AOI, select the drawn AOI with a single click so that its outline turns to dashed orange. Then click the delete button on the right side of the map.</li>
      <li>Please be aware that with super complicated and detailed aois the URL-character limit will be reached eventually.
        <br>(this limit will not be reached in normal use cases)</li>
      <li>The checkbox menu for the severe weather warnings only shows the currently existing warning types.</li>
  </ul>
</div>

    </div>
    <div class='texts' id ="2 text"  >
      <ul>
        <li>Exact time of shown data: This timestamp will inform you about the time of the data that is currently shown.</li>
        <li>"Jump-to"-slider": With this slider you can manually select the timestamp that you want to see.</li>
        <li>Play/Pause-button: By clicking this button you can start and stop the animation.</li>
        <li>Download-button: If you click this button after a complete animationcycle you will be able to download the current animation. The download will start automatically and will be in the .gif format.</li>
        <li>Layer menu: On the animation page the layer menu functions as a selector for the desired data type. If you choose radar, suitable data will be chosen for you depending on how often new data is fetched.</li>
    </ul>
      </div>


      <div class='texts' id ="3 text"  >
        <ul>
          Changes on this page will result in a permanent change that is saved in the config.yaml.
          <li>Default map location: [X,Y] - coordinate based input that will change the default map location.</li>
          <li>Default map zoom: If you change this value the default zoom level will be changed accordingly.</li>
          <li>Tweet History: By changing this value to a number that is smaller than 10080 you can adjust how old tweets will be. The value is based on minutes</li>
          <li>Change Twittstorms time: If you want to go back in time change this value.</li>
      </ul>
        </div>



      <!-- footer -->
      <%- include('partial/footer'); %>

    </body>
    </html>
    <script src="/javascripts/mapInteraction.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/umd/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
