<!-- Project: TwittStorm, Geosoftware 2, WiSe 2019/2020 -->
<!-- Authors: Jonathan Bahlmann, Katharina Poppinga, Benjamin Rieke, Paula Scharf -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/project.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>

  <!-- navbar -->
  <%- include('partial/navbar', {active: "help"}); %>

  <h1 class="display-4 text-center text-dark mb-5">Twittstorm Help Page</h1>
  <div class="container">
    <div id="magicCarousel" class="carousel slide my-5" data-ride="carousel" data-interval="false">

<!--    Carousel Indicators    -->
      <ol class="carousel-indicators">
        <li data-target="#magicCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#magicCarousel" data-slide-to="1"></li>
        <li data-target="#magicCarousel" data-slide-to="2"></li>
        <li data-target="#magicCarousel" data-slide-to="3"></li>
      </ol>

<!--    Carousel Slider    -->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img src="/images/startup_v1.jpg" class="d-block w-100">
          <div class="carousel-caption">
            <h3>On Start Up</h3>
            <p>Upon starting Twittstorm you will arive at this page. Here you have several possibilities to interact with the map and to retrieve the latest weather and twitter data</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="/images/delete_aoi_v1.jpg" class="d-block w-100">
          <div class="carousel-caption">
            <h3>Drawing and deleting AOI</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="/images/animation_radar_v1.jpg" class="d-block w-100">
          <div class="carousel-caption">
            <h3>Animation of the last ten timesteps</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="/images/configuration.jpg" class="d-block w-100">
          <div class="carousel-caption">
            <h3>Change your settings</h3>
        </div>

        </div>
      </div>




<!--     Carousel Controls     -->
        <a href="#magicCarousel" class="carousel-control-prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a href="#magicCarousel" class="carousel-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </div>
<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h5 class="font-weight-light">Explanations</h5>
        <p class="lead">.</p>
    </div>
</section>

      <!-- footer -->
      <%- include('partial/footer'); %>

    </body>
    </html>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/umd/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
