<!-- Project: TwittStorm, Geosoftware 2, WiSe 2019/2020 -->
<!-- Authors: Jonathan Bahlmann, Katharina Poppinga, Benjamin Rieke, Paula Scharf -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/project.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/mapbox/mapbox-gl.css"/>
    <link rel="stylesheet" href="/mapbox-draw/mapbox-gl-draw.css"/>
    <link rel="stylesheet" href="/leaflet/leaflet.css"/>
</head>

<body onload = "showMap('mapbox://styles/mapbox/navigation-guidance-day-v4')">

<!-- navbar -->
<%- include('partial/navbar', {active: "home"}); %>

<main>
    <!-- DWD selection menu -->

    <div id="menu" style="display:none"></div>

    <!-- Product selection menu -->

    <div id="productMenu" style="display:none">
      <a href="#" class="selector" onclick="openMenu(this, rasterMenu)">Radar </a>
      <a href="#" id="severeWeather" class="selector" onclick="openMenu(this, menu)">Severe Weather</a>
    </div>

    <!-- Raster selection menu -->
    <!-- Add functions for raster display here -->

    <div id="rasterMenu" style="display:none">
      <a href="#" class="selector" onclick>5 Minutes </a>
      <a href="#" class="selector" onclick>60 Minutes</a>
      <a href="#" class="selector" onclick>24 Hours</a>

    </div>

    <!-- button to open up the menu. Image taken from https://freeicons.io/user-interface-and-electronics/layer-up-down-screen-multiple-interface-ui-d-cd-icon-892#-->

    <nav id="menuButton" class="container" onclick="openMenu(this, productMenu)" title="Change Layers" >
      <div id="buttonIcon">
        <img src="/css/Layer-Icon.png"/>
      </div>
    </nav>



    <!-- map -->

    <div class="container-fluid">
        <div id="map" style="width: 100%; height: 700px;"></div>
    </div>

    <div id='map'></div>
    <div class='map-overlay' id='legend'></div>

    <!-- Style Selector -->
    <div class="switch-field" id='styleMenu'>
        <input id='navigation-guidance-day-v4' type='radio' name='switch-two' value='streets' checked='checked'>
        <label for='navigation-guidance-day-v4'>Streets</label>
        <br>
        <input id='satellite-v9' type='radio' name='switch-two' value='satellite'>
        <label for='satellite-v9'>Satellite</label>
    </div>


</main>


<!-- footer -->
<%- include('partial/footer'); %>

</body>
</html>

<script src="/jquery/jquery.js"></script>
<script src="/popper/umd/popper.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/mapbox/mapbox-gl.js"></script>
<script src="/mapbox-draw/mapbox-gl-draw.js"></script>
<script src="/leaflet/leaflet.js"></script>
<script src="/turf/turf/turf.min.js"></script>

<script>
var paramArray = <%- JSON.stringify(paramArray) %>;
</script>

<script src="/javascripts/urlNaming.js"></script>
<script src="/javascripts/mapInteraction.js"></script>
<script src="/javascripts/mapboxDraw.js"></script>
<script src="/javascripts/dataProcessing.js"></script>
<script src="/javascripts/database.js"></script>
<script src="/javascripts/smallest-enclosing-circle.js"></script>
<script src="/javascripts/DWDUnwetterProcessing.js"></script>
<script src="/javascripts/twitterProcessing.js"></script>
<script src="/javascripts/rasterProcessing.js"></script>
<script src="/javascripts/mapbox.js"></script>
<script src="/javascripts/germanyBoundary.js"></script>
