<!-- Project: TwittStorm, Geosoftware 2, WiSe 2019/2020 -->
<!-- Authors: Jonathan Bahlmann, Katharina Poppinga, Benjamin Rieke, Paula Scharf -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>TwittStorm</title>
  <link rel="stylesheet" type="text/css" href="/css/project.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
  <!-- dont use cdn -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>

<body>

  <!-- navbar -->
  <%- include('partial/navbar', {active: "help"}); %>

  <main>

    <div id='map'></div>
    <script>
    $.getJSON('/raster/rw/dwd', function(data) {
      var collection = data.geometry;
      mapboxgl.accessToken = 'pk.eyJ1Ijoib3VhZ2Fkb3Vnb3UiLCJhIjoiY2pvZTNodGRzMnY4cTNxbmx2eXF6czExcCJ9.pqbCaR8fTaR9q1dipdthAA';
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/satellite-v9',
      center: [9.0755,54.8797],
      zoom: 5
      });

      map.on('load', function () {

      map.addLayer({
      'id': 'maine',
      'type': 'fill',
      'source': {
      'type': 'geojson',
      'data': collection
      },
      'layout': {},
      'paint': {
      'fill-color': '#088',
      'fill-opacity': 0.8
      }
      });
      });
    });

    </script>

  </main>

  <!-- footer -->
  <%- include('partial/footer'); %>

</body>
</html>

<script src="/jquery/jquery.js"></script>
<script src="/popper/umd/popper.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/javascripts/mongo.js"></script>
