/* --------------------------------------------------------
* Project: TwittStorm, Geosoftware 2, WiSe 2019/2020
* Authors: Jonathan Bahlmann, Katharina Poppinga, Benjamin Rieke, Paula Scharf
----------------------------------------------------------*/

.page-footer {
  position: fixed;
  bottom:5px;
  height: 50px;
  width: 100%;
  text-align: center;
}
#menu {
background: #fff;
position: fixed;
z-index: 1;
top: 360px;
right: 80px;
border-radius: 3px;
width: 120px;
border: 1px solid rgba(0,0,0,0.4);
font-family: 'Open Sans', sans-serif;
}

#menu a {
font-size: 13px;
color: black;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0,0,0,0.25);
text-align: center;
}

#menu a:last-child {
border: none;
}

#menu a:hover {
background-color: grey;
color: black;
}

#menu a.active {
background-color: lightgrey;
color: black;
}

#menu a.active:hover {
background: grey;
}

#productMenu {
background: #fff;
position: fixed;
z-index: 1;
top: 230px;
right: 80px;
border-radius: 3px;
width: 120px;
border: 1px solid rgba(0,0,0,0.4);
font-family: 'Open Sans', sans-serif;
}

#productMenu a {
font-size: 13px;
color: black;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0,0,0,0.25);
text-align: center;
}

#productMenu a:last-child {
border: none;
}

#productMenu a:hover {
background-color: grey;
color: black;
}

#productMenu a.active {
background-color: lightgrey;
color: black;
}

#productMenu a.active:hover {
background: grey;
}

#rasterMenu {
background: #fff;
position: fixed;
z-index: 1;
top: 148px;
right: 80px;
border-radius: 3px;
width: 120px;
border: 1px solid rgba(0,0,0,0.4);
font-family: 'Open Sans', sans-serif;
}

#rasterMenu a {
font-size: 13px;
color: black;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0,0,0,0.25);
text-align: center;
}

#rasterMenu a:last-child {
border: none;
}

#rasterMenu a:hover {
background-color: grey;
color: black;
}

#rasterMenu a.active {
background-color: lightgrey;
color: black;
}

#rasterMenu a.active:hover {
background: grey;
}

#buttonIcon{
  position: absolute;
  display: block;
  top: -2px;
  right: 21px;
  width: 5px;
  height: 25px;

}

#menuButton{
  position: absolute;
  z-index: 1;
  display: block;
  top: 230px;
  right: 25px;
  width: 5px;
  height: 25px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.4);



}

.container {
  display: inline-block;
  cursor: pointer;
}



#styleMenu {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 120px;
  width: 120px;
  display: flex;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: white;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
  font-weight: bold;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: lightgrey;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.mapboxgl-popup {
    min-width: 500px;
    max-height: 800px;
}
