/* --------------------------------------------------------
* Project: TwittStorm, Geosoftware 2, WiSe 2019/2020
* Authors: Jonathan Bahlmann, Katharina Poppinga, Benjamin Rieke, Paula Scharf
----------------------------------------------------------*/

* {
  font-family: 'Open Sans', sans-serif;
}

/* Animation Overlay */
.animation-overlay {
  font-size: 12px;
  width: 320px;
  z-index: 1;
  position: absolute;
  top: 11px;
  right: 260px;
  padding: 5px;
  display: flex;
}

.animation-overlay  {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 25px;
  margin-bottom: 30px;
}

.animation-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

/* **********************************Playbutton**************************************** */

#playButton{
  transition: box-shadow .3s;
  position: absolute;
  top: 120px;
  right: 55px;
}

#playButton :hover {
  box-shadow: 0 0 11px DimGray;
}


/* **********************************Downloadbutton**************************************** */

#downloadButton{
  transition: box-shadow .3s;
  position: absolute;
  top: 120px;
  right: 25px;
  background-color: darkgrey;

}

#downloadButton :hover {
  box-shadow: 0 0 11px DimGray;
}


.button .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: DimGray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 160%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.button .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.button .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



/* Ajax Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height:2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 45%;
  left: 50%;
}

.information {
  font-size: 2rem;
  position: fixed;
  z-index: 999;
  overflow: visible;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow:  1px  1px 1px black,
  1px -1px 1px black,
  -1px  1px 1px black,
  -1px -1px 1px black;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.page-footer {
  position: fixed;
  bottom:5px;
  height: 50px;
  width: 100%;
  text-align: center;
}

#menu {
  background: #fff;
  position: fixed;
  z-index: 1;
  top: 350px;
  right: 80px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0,0,0,0.4);
  font-size: 14px;
}

#menu a {
  font-size: 13px;
  color: black;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: grey;
  color: black;
}

#menu a.active {
  background-color: lightgrey;
  color: black;
}

#menu a.active:hover {
  background: grey;
}

/* ******************************** MAP ************************************* */

#map, #animationMap {
  width: 100%;
  height: 750px;
  position: relative;
}

.mapboxgl-popup {
  min-width: 500px;
  max-height: 800px;
  z-index: 2;
}

/* ************************** BASEMAP SWITCHER ****************************** */

#styleMenu {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 120px;
  width: 120px;
  padding: 5px;
  display: flex;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
  box-shadow: none;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: lightgrey;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

/* ************************************************************************** */

.button {
  position: absolute;
  z-index: 1;
  display: block;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
  cursor: pointer;
}

/* *************************** PAN BUTTONS ********************************** */

#panButtonL, #panButtonR, #panButtonU, #panButtonD {
  height: 22px;
  width: 22px;
}

#panButtonL {
  top: 280px;
  right: 37px;
}

#panButtonR {
  top: 280px;
  right: 5px;
}

#panButtonU {
  top: 258px;
  right: 20px;
}

#panButtonD {
  top: 302px;
  right: 20px;
}

.panButtonImg {
  position: absolute;
  display: block;
  z-index: 1;
  height: 11px;
  width: 12px;
}

#panButton_L_img {
  bottom: 11px;
  right: 10px;
}

#panButton_R_img {
  transform: rotate(180deg);
  top: 12px;
  left: 10px;
}

#panButton_U_img {
  transform: rotate(90deg);
  bottom: 11px;
  left: 11px;
}

#panButton_D_img {
  transform: rotate(270deg);
  top: 12px;
  right: 11px;
}

#panButtonL :hover {
  background-color: lightgrey;
}

#panButtonR :hover {
  background-color: lightgrey;
}

#panButtonU :hover {
  background-color: lightgrey;
}

#panButtonD :hover {
  background-color: lightgrey;
}

/* *******************************Menubutton********************************* */

#menuButton {
  top: 185px;
  right: 9px;
  width: 32px;
  height: 33px;
}

#buttonIcon :hover {
  background-color: lightgrey;
}

#buttonIcon {
  position: absolute;
  display: block;
  top: 3px;
  right: 22px;
  width: 5px;
  height: 10px;
}

/* ********************************Productmenu******************************* */

#productMenu {
  background: #fff;
  position: fixed;
  z-index: 1;
  top: 215px;
  right: 80px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0,0,0,0.4);
  font-size: 14px;
}

#productMenu a {
  font-size: 14px;
  color: black;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
}

#productMenu a:last-child {
  border: none;
}

#productMenu a:hover {
  background-color: grey;
  color: black;
}

#productMenu a.active {
  background-color: lightgrey;
  color: black;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  font-size: 14px;
}

#productMenu a.active:hover {
  background: grey;
}

/* ******************************Rastermenu********************************** */

#rasterMenu {
  background: #fff;
  position: fixed;
  z-index: 1;
  top: 138px;
  right: 80px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0,0,0,0.4);
  font-size: 14px;
}

#rasterMenu a {
  font-size: 14px;
  color: black;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
}

#rasterMenu a:last-child {
  border: none;
}

#rasterMenu a:hover {
  background-color: grey;
  color: black;
}

#rasterMenu a.active {
  background-color: lightgrey;
  color: black;
  font-size: 14px;
}

#rasterMenu a.active:hover {
  background: grey;
}

/* **************************** Germany Menu Button ************************* */

#germanyButton{
  position: absolute;
  z-index: 1;
  top: 220px;
  right: 9px;
  width: 2px;
  height: 25px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.4);
}

#germanyIcon :hover {
  background-color: grey;
  color: black;
}

#germanyIcon{
  position: absolute;
  display: block;
  top: 1px;
  right: 21px;
  width: 5px;
  height: 25px;
  cursor: pointer;
}

/* ********************************* LEGEND ********************************* */

.map-overlay {
  font-size: 14px;
  width: 300px;
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 5px;
  display: flex;
}

.map-overlay .map-overlay-inner {
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
}

#typeOfLegend {
  font-size: 16px;
  text-align: center;
}

#productType {
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
}

#legend {
  line-height: 25px;
}

#DWD_Logo {
  height: 50px;
}

.colorKey {
  display: inline-block;
  opacity: 0.4;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 21px;
  height: 21px;
  margin-right: 5px;
  vertical-align: bottom;
}

/* ********************************* Tweetfilter ********************************* */
.green-border-focus .form-control:focus {
  border: 1px solid #8bc34a;
  box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

.tweetfilter {
  position: absolute;
  z-index: 1;
  top: 550px;
  left: 13px;
  width: 200px;
}

#tweetfilter-ta {
  width: 100%;
  height: 55px;
}

#tweetfilter-btn {
  background-color: white;
  top: 0px;
  left: 204px;
  border-radius: 5px;
  width: 55px;
  height: 55px;
}


textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* ************************************************************************** */
