<!-- Project: TwittStorm, Geosoftware 2, WiSe 2019/2020 -->
<!-- Authors: Jonathan Bahlmann, Katharina Poppinga, Benjamin Rieke, Paula Scharf -->

<footer class="page-footer font-small">
    <div align="center">
        <a href="/author">Author Contacts</a>
        <p class="footertext">© 2020</p>
    </div>
</footer>
